#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container{
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
    
}

.contactinfoContainer{
    text-align: center;
    border-radius: 20%;
    border-width: 20px;
    
    
}